#Color codes and respective values can be found in
#  https://talyian.github.io/ansicolors/

GRID_COLOR \e[38;5;60m
GIVEN_NUMBERS_COLOR \e[38;5;222m
FOUND_NUMBERS_COLOR \e[38;5;14m
WRONG_NUMBERS_COLOR \e[38;5;9m
HIGHLIGHT_COLOR \e[1;32m
TEXT_COLOR1 \e[35m
TEXT_COLOR2 \e[38;5;14m


#This configures the symmetry of the given cells
# in the puzzle.Valid options are:
# none, rotate90, rotate180, mirror, flip, or random

SYMMETRY: random

#This variable configures the editor you wish to use
# with the c (configure) option

PREFERRED_EDITOR nano

#This variable defines the png that shows in the notifications
#These images are in the $HOME/.cache/tui-sudoku/png/ directory.

PREFFERED_PNG 2sudoku.png
